asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.0.6
django-auth-ldap==4.1.0
django-rest-framework==0.1.0
djangorestframework==3.13.1
ldap3==2.9.1
Pillow==9.2.0
pkg_resources==0.0.0
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-ldap==3.4.2
pytz==2022.1
sqlparse==0.4.2
